@import 'value';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap'); 
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: $font-play;
    text-decoration: none !important;
    input {outline: none;}
}
body
{
    background-color: #D9D9D9;
}
.container
{
    max-width: $maxw;
    width: 100%;
}
ul,li{
    list-style: none;
    color: #fff;
    
}
header > a
{
    width: 100%;
}
a{
    color: black;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
/* ___________HEADER____________ */

header
{
    padding-right: 10px;
    background-color: #11031C;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: $maxw;
    width: 100%;
}

.header_basket
{
    display: inline;
    object-fit: contain;
    float: right;
    width: 30%;
    height: 70%;
    
}

.header_logo
{
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    justify-content: space-between;
    height: 100px;

}

.T
{

    color: #FE7F38;
}
.G
{
    color: #68E83B;
}

.TechGrove
{
    font-family: $font-sahitya;
    font-weight: 200;
    font-size: 320%;
    position: relative;
    color: #fff;
}
/* ___________NAVIGATION____________ */
nav > ul
{
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    float: right;
    position: relative;
}
.header_nav
{
    width: 100%;
}
ul > a > li
{
    font-weight: 700;
    font-size: 20px;
    display: inline;

} 

#catalogToggle
{
  display: none;
}

.TechGrove span
{
    font-family: $font-sahitya;
    font-weight: 200;
    font-size: 100%;
}

/* ___________CONTENT____________ */
.content
{
    padding-bottom: 40px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.content__menu
{
    height: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content__menu__catalog
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 350px;
    margin-left: 5%;
    width: 100%;

}
.content__menu__catalog__hamburger-menu {
  z-index: 1000; 
}
.content__menu__catalog__img
{
    width: 60px;
    height: 60px;
}
.content__menu__catalog__title, .content__menu__location__title
{
    font-family: $font-play;
    font-weight: 700;
    font-size: 50px;
    
}

.catalog__burger--checkbox {
  position: absolute;
  visibility: hidden;
}
.catalog__burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 2px;
  margin-top: 15px;
}
.catalog__burger::before,
.catalog__burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #DD1818;
}
  .catalog__burger::before {
    top: 0px;
    box-shadow: 0 11px 0 #DD1818;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .catalog__burger::after {
    bottom: 0px;
    transition: bottom .3s .15s, transform .3s;
  }
  .catalog__burger--checkbox:checked + .catalog__burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .catalog__burger--checkbox:checked + .catalog__burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

  .catalog__burger--checkbox {
    position: absolute;
    visibility: hidden;
  }
  .catalog__burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .catalog__burger::before,
  .catalog__burger::after {
    content: '';
    left: 0px;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .catalog__burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .catalog__burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .catalog__burger--checkbox:checked + .catalog__burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .catalog__burger--checkbox:checked + .catalog__burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .catalog__menu--list {
    top: -15px;
    left: 0px;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: orange;
    list-style-type: none;
    transform: translateX(-200%);
    transition: .3s;
    width: 360px;
  }
  .catalog__menu__item {
    display: block;
    padding: 8px;
    color: black;
    font-size: 24px;
    font-family: $font-play;
    text-align: left;
    padding-left: 40px;
  }
  .catalog__menu__item:hover {
    background: rgba(255,255,255,.2)
  }
  .catalog__burger--checkbox:checked ~ .catalog__menu--list {
    transform: translateX(0);
  }
/*_____________ADAPTATION-BURGER_______________*/
.burger-menu {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1000;
  color: #000 !important;
}

.burger-menu input[type="checkbox"] {
  display: none;
}

.burger-menu > label {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
}

.burger-menu > label .line {
  background-color: white;
  height: 2px;
  width: 90%;
  display: block;
  position: absolute;
  transition: all 0.3s ease;
}

.burger-menu > label .line:nth-child(1) {
  top: 6px;
}

.burger-menu > label .line:nth-child(2) {
  top: 12px;
}

.burger-menu > label .line:nth-child(3) {
  top: 18px;
}

.burger-menu input[type="checkbox"]:checked ~ label .line:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
}

.burger-menu input[type="checkbox"]:checked ~ label .line:nth-child(2) {
  opacity: 0;
}

.burger-menu input[type="checkbox"]:checked ~ label .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 12px;
}

.burger-menu > ul {
  display: none;
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 90px;
  background: white;
  position: absolute;
  top: 40px;
  right: 0;
  border: 1px solid #DD1818;
}

.burger-menu input[type="checkbox"]:checked ~ ul {
  display: block;
}

ul li label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
}

.burger-menu ul li {
  margin: 10px 0;
  color: #000;
}

/* Каталог в бургер-меню */
.catalog-menu {
  display: none;
  padding: 10px;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: -150px; /* Сдвиг влево от основного меню */
  width: 150px; /* Ширина каталога */
  border: 1px solid #DD1818;
}

.catalog-menu-toggle-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 26px;
}

.catalog-menu-toggle-label .line {
  background-color: black;
  height: 2px;
  width: 20px;
  margin-left: -22px;
  display: block;
  position: absolute;
  transition: all 0.3s ease;
}

.catalog-menu-toggle-label .line:nth-child(1) {
  top: 6px;
}

.catalog-menu-toggle-label .line:nth-child(2) {
  top: 12px;
}

.catalog-menu-toggle-label .line:nth-child(3) {
  top: 18px;
}

.catalog-menu-toggle:checked ~ .catalog-menu-toggle-label .line:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
}

.catalog-menu-toggle:checked ~ .catalog-menu-toggle-label .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 12px;
}

.burger-menu ul .catalog-menu-toggle:checked ~ .catalog-menu {
  display: block;
}
.catalog-menu-toggle-label {
  color: #000 ;
}


.content__menu__location
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 290px;
    width: 100%;
    position: relative;
    height: 70px;
    
}
.content__menu__location__dropdown
{
  display: none;
  position: absolute;
  background-color: #FFB740;
  max-width: 300px;
  width: 100%;
  border: 1px solid #000;
  padding: 40px;
  padding-left: 70px;
  font-family: 'Russo One', sans-serif;
  line-height: 190%;
  font-size: 24px;
  font-weight: 600;
  z-index: 1000;
}

.content__menu__location__img
{
    object-fit: contain;
    width: 40px;
    height: 40px;
}
.content__menu__location_triangle
{
  margin: 80% 0 20% 0;
  z-index: 999;
}

.content__menu__location__button, .content__menu__location__button:hover
{
 background-color: #D9D9D9;
 font-family: $font-russo;
}

.content__menu__location__button:hover
{
  cursor: pointer;
}
.nothing
{
  text-align: center;
  font-size: 28px;
  padding: 30px;
}
#searchInput
{
  padding: 5px;
  height: 40px;
  font-size: 20px;
  max-width: 150px;
  border-bottom: 1px solid #383838;
  border-top: 1px solid #383838;
  border-left: 1px solid #383838;

}
.content__menu__search
{
  display: flex;
  align-items: center;
  margin-right: 20px;

}
.clearButton
{
  width: 24px;
  height: 20px;
  padding: 11px 0px 27px 1.5px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #383838;
  border-top: 1px solid #383838;
  border-right: 1px solid #383838;
}
.searchButton
{
  height: 40px;
  padding: 0 10px;
  color: #fff;
  background-color: #E51C1C;
  font-weight: 700;
  font-size: 20px;
}
.searchButton:hover
{
  background-color: #ae1212;
  cursor: pointer;
}
.searchButton:active
{
  background-color: #8c0f0f;
  cursor: pointer;
}
.clearButton:hover
{
  background-color: #b5b5b5;
}
.content__line
{
  max-width: 1920px;
  width: 100%;
  border: #2b2323 1px solid;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.4);
}
.content__popular__title
{
  color: rgb(11, 67, 150);

font-family: $font-play;
font-size: 60px;
font-weight: 400;
line-height: 79px;
margin-left: 5%;
text-align: left;
margin-bottom: 20px;
margin-top: 10px;
}
.content__popular__wrapper
{
  max-width: 1620px;
  margin: auto;
}
.content__popular__slider 
{
  margin: 0 40px;
  z-index: 1;
}

.content__popular__slide
{
  background-color: rgb(244, 244, 244);
  border-radius: 30px;
  max-width: 500px;
  height: 556px;
  margin: 0 15px;
  object-fit: contain;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.content__popular__slide > img
{
  max-width: 100%;
  height: auto;
  position: absolute;
  object-fit: cover; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.content__popular__slide p
{
  text-align: center;
  font-size: 24px;
  position: relative;
  margin-top: 10px; /* Задайте нужный вам отступ сверху */
  position: relative; /* Используйте относительное позиционирование */
  top: 105%; /* Сдвигаем параграф вниз на 50% высоты его родительского контейнера */
  transform: translateY(-50%); 
}


/* ___________CATALOG___________*/


#catalog, .catalog {
  margin: 40px auto;
  padding: 0 2%;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  display: flex; /* Используем гибкое расположение */
  flex-direction: column; /* Располагаем дочерние элементы в столбец */
  flex-grow: 1;
  max-width: calc(33.33% - 25px);
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 30px;
  color: #000;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding-top: 30px;
}

.product h2
{
  margin: 10px auto;
  text-decoration: none;

}
.product ul li
{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  padding-left: 20px;
  margin-bottom: auto;
}
.product p
{
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: auto; 
}
.product__img
{
  max-width: 400px;
  width: 100%;
  max-height: 370px;
  object-fit: contain;
  margin: 0 auto;
}
.catalog__buy--button
{
  max-width: 450px;
  width: 80%;
  height: 60px;
  border-radius: 20px;
  background-color: #DF0000;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 auto 20px auto;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Добавляем плавные переходы для цвета фона, тени и трансформации */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Добавляем тень */ /* Добавляем плавный переход */
}

.catalog__buy--button:hover {
    background-color: #ae1212; /* Изменяем цвет фона при наведении */
}

.catalog__buy--button:active {
    background-color: #8c0f0f; /* Изменяем цвет фона при нажатии */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшаем тень при нажатии */
    transform: translateY(2px);
}
.product__span
{
  color: #5c5c5c;
}

.showFullInfoButton
{
  margin: 15px auto 10px auto;
  padding: 15px 20px;
  border-radius: 10px;
  font-family: $font-play;
  font-size: 16px;
  font-weight: 700;
  background-color: #fc965a;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s, transform 1s;
}

.fullInfo > p
{
  text-align: left;
  padding-left: 35px;
  font-weight: 400;
}

.showFullInfoButton:hover
{
  background-color: #fa7e36;
}
.search__results
{
  margin-top: 20px;
  margin-left: 40px;
  font-size: 32px;
}

.hidden {
  display: none;
}

/* ___________BUSKET____________ */

.busket__title
{
  margin-top: 20px;
  text-align: center;
}

.product__buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px auto 20px auto;
}

.product__buttons button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-family: $font-play;
  font-size: 24px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Добавляем плавные переходы для цвета фона, тени и трансформации */
  background-color: #DF0000;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.product__buttons button:hover
{
  background-color: #ae1212;
}

.product__buttons button:active
{
  background-color: #8c0f0f; /* Изменяем цвет фона при нажатии */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшаем тень при нажатии */
  transform: translateY(2px);
}

.product__buttons button.delete {
  margin: 0 auto; /* Центрирование кнопки "Удалить" */
}

#total
{
  margin: 30px auto;
  font-size: 32px;
  text-align: center;
}
.bold
{
  font-weight: 700;
}
.busket__buttons
{
  display: flex;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
  gap: 8%;
}

/*___________________MODAL__WINDOW___________________*/ 

/* Стили для модального окна */
.modal {
  display: none; /* По умолчанию скрываем модальное окно */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Чёрный с прозрачностью */
    overflow: auto;
}

/* Стили для содержимого модального окна */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content h2
{
  text-align: center;
  margin-bottom: 20px;
}

.modal-content input
{
  display: block;

}
#checkoutForm label
{
  display: block;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;

} 

textarea
{
  border: 0.5px solid black;
}

#checkoutForm input
{
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  background-color: #dadada;
  margin-top: 10px;
  border-radius: 3px;
}

#address
{
  max-width: 900px;
  width: 100%;
}

#other, #comment
{
  max-width: 900px;
  width: 100%;
  resize: vertical;
  overflow-y: auto; 
  display: block; /* Отображать как блочный элемент */
  white-space: break-word; 
}

/* Стили для кнопки закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.alert {
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  height: 60px;
}

/* ___________INFO__PAGES____________ */
.info__title
{
  color: #B11F1F;
  font-weight: 700;
  margin: 50px 40px 0 45px;
  font-size: 44px;
}
.info
{
margin: 35px 40px 0 105px;
font-size: 24px;

}
.info__subtitle
{
  margin: 35px 40px 0 90px;
  font-size: 32px;
}
.info__point
{
  color: #000;
  text-decoration:double;
  margin: 20px 40px 0 125px;
  font-size: 20px;
  list-style-type: disc;
}
.general
{
  margin: 35px 40px 0 45px;
  font-size: 28px;
  padding-bottom: 35px;
}

main > div > img{

  max-width: 85%;
  object-fit: contain;
}
.wrapper_img
{
  background-color: #F4F4F4;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  max-height: 900px;
  border-radius: 50px;
  margin-top: 30px;
}

#emptyCartMessage
{
  color: #5c5c5c;
  text-align: center;
  font-size: 48px;
  font-family: $font-comfortaa;
  margin-top: 140px;
  margin-bottom: 45px;
}

#returnToMain a
{
  display: block;
  color: #E51C1C;
  font-size: 48px;
  font-family: $font-comfortaa;
}
#returnToMain
{
  text-align: center;
  margin-bottom: 230px;
}

.info--title
{
  text-align: center;
  font-size: 40px !important;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;

  
}
.box--info
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.box--blue
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  border-radius: 0 70px 70px 0 ;
  max-width: 1100px;
  min-width: 600px;
  min-height: 400px;
  background-color: #47A6EA;
 
}
.box--blue p
{
  padding-right: 30px;
  font-size: 24px;
}
.info--subtitle
{
  color: #000;
  font-size: 28px;
}
.behind--blue--box
{
  width: 300px;
  height: 300px;
  margin-right: 150px;
}
.box--red
{
 background-color: #DD1818;
 float: right;
 border-radius: 70px 0 0 70px;
 margin: 100px 0 100px 200px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 max-width: 1100px;
 min-height: 400px;

}
.box--red p
{
  padding: 50px;
  font-size: 24px;

}
.box--red img
{
  padding-right: 120px;
}
.box--green
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  border-radius: 0 70px 70px 0 ;
  max-width: 1400px;
  min-width: 700px;
  min-height: 400px;
  background-color: #68E83B;
  margin-right: 200px;
  font-size: 24px;
}
.box--green li
{
  color: #000;
  list-style-type: disc;
  
}
.box--green ul
{
  padding-left: 30px;
}
.box--green p
{
  text-align: center;
}
.info--under
{
  text-align: left;
  margin: 30px 150px 0px 300px;
  font-size: 32px;
}
.under--green
{
  margin-top: -90px;
  margin-left: 20px;
}

/*_______________PAGE-PRODUCT________________*/

.page
{
  min-height: 560px;
  max-width: 1920px;
  margin: 0 20%;
  margin-top: 40px;
  padding: 10px;
  background-color: #fff;
  position: relative;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.page .product__span
{
  margin-left: 20px;
}
.page h2
{
  position: relative;
  font-size: 36px;
  display: inline;
  vertical-align: top;
  

}
.page ul li
{
  color: #000;
}
.page ul
{
  text-align: left;
  display: inline;
  vertical-align: top;
  color: #000;
  font-size: 24px;
  padding-bottom: 10px;
}

.page img
{float: left;
max-width: 45%;
max-height: 70%;
min-height: 300px;
padding-right: 15px;
}

.page p
{
font-size: 24px;
text-align: left;
}
.page__price
{
  font-size: 28px !important;
  font-weight: 700;
  padding: 15px 0 5px 0;
  text-align: center !important;
}
.page .content__line
{
  margin: 20px 0;
}
.added--to--cart, .added--to--cart:hover, .added--to--cart:active
{
  border: 3px solid #383838;
  background-color: #b5b5b5;
  color: #2b2323;
  cursor:default;
}
/* ___________FOOTER____________ */

footer
{
  vertical-align: bottom;
    height: 220px;
    background-color:#11031C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: $maxw;
    width: 100%;
}
.button__to__top
{
    width: 0px;
    height: 0px;
    display: none; /* Начинаем с скрытия кнопки */
    position: fixed; /* Устанавливаем позицию элемента */
    bottom: 120px; /* Отступ снизу */
    right: 140px; /* Отступ справа */
    z-index: 9999; 
    background-color: #D9D9D9;
}
.button__to__top:hover
{
    cursor: pointer;
}
.feedback
{
  height: 150px;
  margin-left: 50px;
  display: grid;
  color: #D9D9D9;
  grid-template-columns: 250px 250px;
  
}
.feedback--item > a, .feedback--item6 > a
{
  color: #fff;
  text-align: center;
  display: block;
}
.feedback--item1
{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 32px;
}
.feedback--item
{
  padding: 5px;
  text-align: center;
}
.feedback--item6
{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 16px;
  padding-bottom: 5px;
}
.footer__info__text
{
    font-family: $font-russo;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #fff;
    line-height: 180%;
}
.footer__left__info
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    max-width: 620px;
    width: 100%;
}
footer > a > p
{
    height: 160px;
    vertical-align: top;
    margin-left: 80px;
}
